{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="password_old" placeholder="Current Password" type="password" onfocusout="check_current_password()">
            <p class="status_current_password"></p>
        </div>
        <div class="form-group">
            <input class="form-control" name="password_new" placeholder="New Password" type="password" onfocusout="check_new_password()">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>

    <script>
        function check_current_password() {
            var password = document.querySelector('input[name="password_old"]');
            var status = document.querySelector('p[class="status"]');

            $.get("/check?username="+username.value, function(data){
                if (data == true){
                    status.innerHTML = "Username " + username.value +" available";
                }
                else {
                    status.innerHTML = "Username " + username.value + " not available";
                    event.preventDefault();
                }
            })
        }

        function check_new_password() {
            console.log("TEST")
        }
    </script>
{% endblock %}
