{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block content %}
    <script>
        getCompanyName();
    </script>
{% endblock %}


{% block main %}
    <form action="/quote" method="post">

        {% if company %}
            <!--Print as "A share of Apple, Inc. (AAPL) costs $257.96."-->
            <!--For usd test in check50, https://cs50.stackexchange.com/a/30828-->
            <p>A share of {{ company }} ({{ symbol }}) costs {{ price | usd }}.</p>
        {% else %}

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" onfocusout="getCompanyNameFromFile()">
            <p class="status"></p>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
        {% endif %}

    </form>

    <script>
        function getCompanyNameFromFile() { getCompanyName(); }
    </script>
{% endblock %}
